*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    /* background-color: #444444; */
    /* background: url(images/hero-6-cover.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat" , sans-serif;
    /* font-weight: 700; */
    max-width: 1500px;
    /* width: 80%; */
    margin: auto;
    overflow-x: hidden;
    /* background-repeat: no-repeat; */
   
}
header{
    padding: 20px 10px;
   color: #fff;
   /* font-weight: 500; */
   background-color: #444444;
   /* opacity: 0.98; */
   background: url(images/hero-6-cover.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.content-header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header a{
    color: #fff;
}
header ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
}
header nav a:nth-child(2){
    background-color: #0d99ff;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

header .contener{
    margin-top: 3rem;
    text-align: center;
    width: 30%;
    margin: auto;
    color: #fff;
    /* line-height: 3rem; */

}
header .contener h1{
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align:center;
    width: 100%;
    color: #FFFFFF;
}
header p{
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 20px;
    line-height: 30px;
    color: #F9F9F9;
}
 a{
   color:#0d99ff;
}
.online a{
    color:#0d99ff;
    font-weight: 600;
    display: block;
    padding-bottom: 2rem;
 }
.join-us{
    padding: 2rem;
    margin-bottom: 15rem;
}
.join-us a{
    background-color: #0d99ff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}
.online{
    padding: 2rem ;
}
header h1{
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 0.2px;
    /* width: 542px; */
   
}


                     /*  premiere partie */
.partie-1{
    padding: 20px 10px;
    height: 50vh;
    position: relative;
    width: 100%;
    margin: auto;
    

}
.gradual{
    display: grid;
    grid-template-columns: repeat(3,280px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
     top: -80%;
     left: 15%;
     position: absolute;
     
} 
.training-course{
    padding: 10px 40px;
    width: 260px;
    margin: auto;
    height: 270px;
    top: 0;
    left: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.20);
    
} 
.training-course p{
    color: #737373;
}
.lifetime{
    background-color: #23A6F0;
    color: #fff;
}
.lifetime p{
    color: #fff;
}
.lifetime hr{
    background-color: #fff;
}
.training-course h4,p,hr{
    margin-top: 2rem;
}
hr{
    width: 50px;
    margin-top: 1rem;
    height: 2px;
    background-color: #e7040777;
}
                /* partie 2 */
.partie-2{
    background-color: #fff;
    /* height: 100vh; */
    padding: 20px 10px;
}
.partie2-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}
p{
    color: #737373;
}

.right-side{
  width: 40%;
  padding-left: 5rem;
  /* line-height: 30px; */
}
.right-side hr{
    margin-bottom: 2rem;
    background-color: #e74040;
        height: 10px;
        width: 100px;
}
.learn{
line-height: 30px;
margin-top: 2rem;
font-weight: 700;

}
.learn a{
    color: #23A6F0;
}

.partie2-content .left-side{
    position: relative;
    padding-top: 2rem;
}
.partie-2 img{
    background-color: #feefef;
}
.absolute .img-1{
    position: absolute;
    top: 10%;
    left: 65%;
}
.img-2{
    position: absolute;
    bottom: 0;
    left: 20%;
}

.lifetime{
background-color: #23a6f0;
color: #fff;
}
.lifetime img{
    /* color: #fff; */
    background-color: #2A7CC7;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
}   
                 /* partie 3 */

.partie-3{
    background-color: #fff;
    padding: 20px 10px;
}


.contener-3 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 justify-content: center;
}
#inside-content{
    padding: 20px 0;
    display: flex;
    gap: 1rem;
    align-items: center; 
    justify-content: center;
}
h2{
    font-size: 40px;
    font-weight: 700px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.contener-3 .text-3 p{
    padding-top: 10px;
width: 60%;
}
.departement{
    width: 18%;
    font-size: 12px;
    margin-bottom: 7rem;
}
.departement h5{
    padding-bottom: 5px;
    font-size: 18px;
    margin-top: 1rem;
}
 h6{
    /* padding-bottom: 1rem; */
    color: #23A6F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  letter-spacing: 0.2px;
}
h6 span{
    background-color: #252B42;
    padding: 5px;
    border-radius: 20px;
    width: 50px;
    height: 26px;
    color: #fff;
    gap: 5px;
}




.departement p{
    color: #737373;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    margin-top: 0.5rem;
    letter-spacing: 0.2px;

}
.departement p span{
    color: #40BB15;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
} 
 .departement .link{
    margin-top: 2rem;
} 
 
.departement .link a{
    padding: 10px;
    border: 2px solid #23A6F0;
    font-weight: 700;
    border-radius: 50px;
    color: #23A6F0;
}
.english-dep{
    position: relative;
}

.english-dep .icons{
    display: flex;
    gap: 5px;
    justify-content: center;
    
}
.icons img{
background-color: #fff;
padding: 10px;
border-radius: 50%;
}
.icon-para p{
    position: absolute;
    top: 0%;
    left: 10%;
    background-color: red;
    color: #fff;
    padding: 5px;
    font-weight: 500;
    width: 3rem;
    text-align: center;
}
 .icon-para .icons{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
         /* partie 4 */
.partie-4{
    background-color: #fff;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

 
.partie-4 img{
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
} 
.text-4{
    width: 60%;
    margin-left: 10rem;
}
 .profil-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
   /* height: 100%; */
   text-align: center;
}
.profil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profil-infos {
    width: 50%;
    text-align: center;
    font-size: 15px;

}
.etoile span,i{
   color: #ffce31 ;
} 

.profil-infos p{
    font-size: 12px;
}
.name{
    color: #252B42;
    font-weight: 700;
    letter-spacing: 0.1px; 
 }
.work{
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: #737373;
} 
             
              /* partie 5 */
              .partie-5{
                padding: 100px 40px;
                background-color: #fff;
                display: flex;
                justify-content: center;
            }

.content-5{
    text-align: center;
}

.content-5 p{
    padding-top: 2rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20rem;
    
}
.content-5 form{
    display: flex;
    justify-content: center;
    padding-top: 20px;
} 
 #email{
    width: 30rem;
    padding: 20px;
    background-color: #F9F9F9;
    border: 1px solid #897d7d67;
    border-radius: 5px 0px 0px 5px;
}
#submit{
    padding: 8px;
    background-color: #23A6F0;
    color: #fff;
    font-weight: 600;
    border-radius: 0px 5px 5px 0px;
    border: none;
} 

             /* footer */
footer{
    padding: 20px 10px;
    background-color: #fff;
   
}
.content-footer{
   
   display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
}
 footer ul{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
 footer ul li{
    color: #737373;
}


.get{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

 .final{
    text-align: center;
    margin-top: 3rem;
    font-weight: 600;
}  
@media screen and (max-width:760px){
    body{
        overflow-x: hidden;
        
    }
    header{
        width: 100%;
        height: auto;
    }
    .content-header{
        width: 100%;
    }
    .content-header h2{
        display: none;
    }
   header .contener{
    width: 100%;
   }
   h1{
    font-size: 24px;
   }
   .content-header{
    display: flex;
    flex-wrap: wrap;
   }
   .gradual{
    position: static;
    grid-template-columns: 1fr;
   }
   .training-course{
    width: 100%;
   }
   .partie-2{
    width: 100%;
    height: auto;
    padding-top: 30em;
   }
   .partie2-content{
    flex-wrap: wrap;
   }
   .right-side{
    width: 100%;
    padding: 0;
   }
   .right-side p{
    font-size: 18px;
   }
   .partie-3{
    width: 100%;
   }
   .text-3{
    width: 100%;
    padding: 0;
   }
   h2{
    font-size: 28px;
    line-height: 30px;
   }
   .contener-3 .text-3 p {
    width: 100%;
    padding: 0;
   }
   #inside-content{
    width: 100%;
    flex-wrap: wrap;
   }
   .departement{
    width: 100%;
   }
   .partie-4{
    width: 100%;
   }
   .text-4{
    margin: 0;
    width: 100%;
   }
   .profil{
    flex-direction: column;
   }
   .profil-infos{
    width: 100%;
    font-size: 24px;
   }
   .profil-infos p{
    font-size: 18px;
   }
   .partie-5{
    width: 100%;
    height: auto;
    
   }
   .content-5{
    width: 100%;
   }
   .content-5 p{
    width: 100%;
    padding: 0;
    font-size: 18px;
   }
   footer{
    width: 100%;
   }
   .content-footer{
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 2rem;
   }
}
@media screen and (min-width:761px) and (max-width:1200px){
    body{
        overflow-x: hidden;
    }
    header{
        width: 100%;
        height: auto;
    }
    .content-header{
        width: 100%;
    }
   header .contener{
    width: 100%;
   }
   h1{
    font-size: 48px;
   }
  .gradual{
    top: -35%;
    left: 5%;
  }
  .partie2-content{
    flex-wrap: wrap;
  }
.departement{
    width: 100%;
    margin-top: 2rem;
}
}